{% block det%}
<div class="animedet">
    <div class="anime-title">
        <h2>anime title</h2>
    </div>
    <div class="trailer">
        <div class="trailer-title">
            <h4>trailer</h4>
        </div>
        <iframe width="800px" height="450px" class="vid"
            src="https://www.youtube.com/embed/T4iC52d-fVY" >
        </iframe>
    </div>
    <div class="right anime-story">
        <p>the story of the anime the story of the anime the story of the anime the story of the anime</p>
        <div>
            <span>action, </span>
            <span>comedy, </span>
            <span>harem</span>
        </div>
    </div>
</div>
<br>
{% endblock %}