{% extends 'header-footer.html' %}
{% block content %}
<br>
<hr>

<div>
    <h2>anime title</h2>
    <iframe width="800px" height="450px" class="anime-episode"
        src="https://www.youtube.com/embed/T4iC52d-fVY" >
    </iframe>
    <ul class="header right episodes-num">
        <span>episodes</span>
        <ul class="ul num">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
        </ul>
    </ul>
    <br>
    <div>
        <button>previous</button>
        <button>next</button>
    </div>
</div>

<br>
<hr>
{% endblock %}